/* Header.css */

.header-container {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}
button {
  background-color: #fff;
  border: none;
  display: flex;
  padding: 10px;
}

.base {
  align-items: flex-start;
  background-color: #fff;
  width: "218px";
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
}
.navAlign {
  padding-left: 15px;
  align-items: center;
}
.navText {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #9a9aa9;
  margin-top: 2px;
}

.headerText {
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;
}
.headerText span {
  margin-right: 800px;
}
.bell-icon {
  margin-left: 100px;
  cursor: pointer;
}

.user-profile {
  margin-right: 50px;
}

.avatar {
  border-radius: 50%;
  width: 30px; 
  height: 30px; 
}

.fileSymbol {
  align-items: center;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  border: 2px dotted #ccc; 
  width: 400px;
  height: 200px; 
  padding: 20px;
}

.button {
  background-color: #605bff;
  width: 564px;
  height: 56px;
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 50px;
  align-items: center;
  display: flex; 
  justify-content: center; 
  text-align: center;
  margin-bottom: 50px;
}
.button > svg {
  margin-right: 8px; 
}

button.navButton:hover {
  background-color: #e2e8f0; 
}
