.custom-table {
  border-collapse: separate;
  width: 1065px;
  height: 419px;
  border-spacing: 0 10px;
  background-color: #f5f5f5;
  padding: 20px;
}


.custom-table th,
.custom-table td {
  padding: 10px 20px; 
  text-align: left;
  height: 30px;
  width: 200px;
  font-size: 14px;
}

.custom-table th:first-child,
.custom-table td:first-child {
  border-top-left-radius: 15px; 
  border-bottom-left-radius: 15px;
  padding-left: 30px;
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px; 
  padding-right: 30px;
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
  width: 300px; 
}
.custom-table tbody tr:nth-child(even) {
  background-color: #fff;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.custom-table tbody tr:hover {
  background-color: #d4d4d4;
}
.link {
  color: hsl(242, 93%, 54%);
  text-decoration: underline;
}
.buttonStyle {
  background-color: #605bff;
  border-radius: 5px;
  height: 25px;
  align-items: center;
}
.tag-buttons {
  display: flex;
  gap: 8px;
}
